<div id="calendar" class="calendar-view" scriptpath="./scripts/calendar.mjs">
  <div class="calendar-side">
    <div class="cal-now-weekday"></div>
    <div class="cal-now-date"></div>
      <div class="cal-now-month"></div>
  </div>
  <div class="calendar-main">
    <div class="cal-month-sel-wr">
      <div class="cal-prev-month"><</div>
      <div class="cal-sel-month"></div>
      <div class="cal-next-month">></div>
    </div>
    <div class="calendar-week-days">
      <ul>
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>
    </div>
    <div class="calendar-dates">
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
      <div class="dyn-day"></div>
    </div>
  </div>
  <script defer src="../scripts/calendar.js"></script>
</div>
