* {
  box-sizing: border-box;
  /* !important don't touch this or shit will happen */
}

.disabled{
  display: none;
  opacity: 0%;
}

:root {
  background-color: #0f0f0f;
}

html {
  height: 100%;
  color: rgb(255, 255, 255);
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 5px;
  height: 100%;

  background: linear-gradient(#21242400, #1d202000);
  overflow: hidden;
}

.app-panel {
  background: linear-gradient(#191b1b, #0a0a0a);
  border-radius: 5px;
  padding: 0px;
  transition: all 0.2s cubic-bezier(0.05, 0, 0.0, 1);

  &.topbar {
    background: linear-gradient(#1a1a1a, #191b1b);
    display: flex;
  }
}

.grid-app-layout {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(min-content, 300px) minmax(200px, 1fr);
  grid-template-rows: 30px auto;
  grid-template-areas: 'top top'
    'nav ma';
  column-gap: 5px;
  row-gap: 5px;
  transition: all 0.2s cubic-bezier(0.05, 0, 0.0, 1);
}

.topbar {
  background-color: #366d6d;
  grid-area: top;
  display: flex;
  flex-direction: row;
}

.mainarea {
  grid-area: ma;
}

.navbar {
  background-color: #312e2e;
  grid-area: nav;

  display: flex;

  flex-direction: column;
  justify-content: space-between;
}

.burger-menu-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  z-index: 4;
}

.burger-menu {
  background-color: #303030;
  border: none;
  
  border-radius: 5px;
  width: 300px;
  height: auto;
}

.burger-menu:popover-open {
  position-anchor: --burger-menu-btn;
  position: absolute;
  left: calc(anchor(left)- 5px);
  margin: 0px;
}



@media screen and (max-width: 55em) {
  .navbar {
    transform: translateX(-205px);
    opacity: 0;
  }
  
  .grid-app-layout {
    grid-template-columns: 0px 1fr;
    column-gap: 0px;
  }
  
  .burger-menu-btn {
    display: flex;
  }
  
}