.planner-main{
    display: grid;
}

.pla-task-pool {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.152);
}